<% data.links.each do |item| %>
  <% if item.nest_depth == 0 %>
    <% if current_path.include?(item.content)%>
      <a href="<%= item.path %>"><p class="grey-text text-darken-4 selected-chapter"><%= item.title %></p></a>
    <% else %>
      <a href="<%= item.path %>"><p class="grey-text text-darken-1"><%= item.title %></p></a>
    <% end %>
  <% end %>

  <% if item.nest_depth == 1 %>
    <% if current_path.include?(item.content)%>
      <a href="<%= item.path  %>"><p class="grey-text text-darken-4 selected-chapter"><%= item.title %></p></a>
    <% else %>
      <a href="<%= item.path %>"><p class="grey-text text-darken-1"><%= item.title %></p></a>
    <% end %>
    <ul class=" table-of-contents">
      <% item.contents.each do |child_item| %>
        <li>
          <% case item.page_type %>
          <% when 'onepage' %>
            <% if current_path.include?(item.content)%>
              <% link_to "##{child_item.content}" do %>
                <p><%= child_item.title %></p>
              <% end %>
            <% else %>
              <% link_to "#{item.path}##{child_item.content}" do %>
                <p><%= child_item.title %></p>
              <% end %>
            <% end %>
          <% when 'multipage' %>
            <% if current_path.include?(child_item.content)%>
              <% link_to "##{child_item.content}" do %>
                <p><%= child_item.title %></p>
              <% end %>
            <% else %>
              <% link_to "/#{item.content}/#{child_item.path}" do %>
                <p><%= child_item.title %></p>
              <% end %>
          <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>

  <% end %>
<% end %>
