<div class="specification-wrapper section scrollspy" id="format-reference">
  <!-- 静的バス情報フォーマット（GTFS-JP）の概要 -->
  <div class="section specification scrollspy" id="overview-gtfs-jp">
    <%= partial "partials/format-contents/overview-gtfs-jp.html.md" %>
  </div>
  <!-- 各項目の設定方法 -->
  <div class="section specification scrollspy" id="specification-header">
    <%= partial "partials/format-contents/specification-header.html.md" %>
  </div>
  <div class="section specification scrollspy" id="agency">
    <%= partial "partials/format-contents/agency.html.md" %>
  </div>
  <div class="section specification scrollspy" id="stops">
    <p><%= partial "partials/format-contents/stops.html.md" %></p>
  </div>
  <div class="section specification scrollspy" id="routes">
    <p><%= partial "partials/format-contents/routes.html.md" %></p>
  </div>
  <div class="section specification scrollspy" id="trips">
    <p><%= partial "partials/format-contents/trips.html.md" %></p>
  </div>
  <div class="section specification scrollspy" id="office_jp">
    <p><%= partial "partials/format-contents/office_jp.html.md" %></p>
  </div>
  <div class="section specification scrollspy" id="stop_times">
    <p><%= partial "partials/format-contents/stop_times.html.md" %></p>
  </div>
  <div class="section specification scrollspy" id="calendar">
    <p><%= partial "partials/format-contents/calendar.html.md" %></p>
  </div>
  <div class="section specification scrollspy" id="fare">
    <p><%= partial "partials/format-contents/fare.html.md" %></p>
  </div>
  <div class="section specification scrollspy" id="shapes">
    <p><%= partial "partials/format-contents/shapes.html.md" %></p>
  </div>
  <div class="section specification scrollspy" id="frequencies">
    <p><%= partial "partials/format-contents/frequencies.html.md" %></p>
  </div>
  <div class="section specification scrollspy" id="transfers">
    <p><%= partial "partials/format-contents/transfers.html.md" %></p>
  </div>
  <div class="section specification scrollspy" id="feed_info">
    <p><%= partial "partials/format-contents/feed_info.html.md" %></p>
  </div>
  <div class="section specification scrollspy" id="translations">
    <p><%= partial "partials/format-contents/translations.html.md" %></p>
  </div>
  <!-- 更新履歴 -->
  <div class="section specification scrollspy" id="translations">
    <p><%= partial "partials/format-contents/change_log.html.md" %></p>
  </div>
</div>
