<main>
  <div class="container container-include-sidemenu">
    <div class="row">
      <div class="col hide-on-med-and-down l2 sidemenu">
        <%= partial "partials/sidemenu"%>
      </div>
      <div class="col s12 main-content-with-sidemenu">
        <div class="section scrollspy" id="overview">
          <%= partial "partials/format-contents/overview.html.md" %>
        </div>
        <div class="section specification scrollspy" id="specification-header">
          <%= partial "partials/format-contents/specification-header.html.md" %>
        </div>
        <div class="section specification scrollspy" id="agency">
          <%= partial "partials/format-contents/agency.html.md" %>
        </div>
        <div class="section specification scrollspy" id="stops">
          <p><%= partial "partials/format-contents/stops.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="routes">
          <p><%= partial "partials/format-contents/routes.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="trips">
          <p><%= partial "partials/format-contents/trips.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="office_jp">
          <p><%= partial "partials/format-contents/office_jp.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="stop_times">
          <p><%= partial "partials/format-contents/stop_times.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="calendar">
          <p><%= partial "partials/format-contents/calendar.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="fare">
          <p><%= partial "partials/format-contents/fare.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="shapes">
          <p><%= partial "partials/format-contents/shapes.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="frequencies">
          <p><%= partial "partials/format-contents/frequencies.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="transfers">
          <p><%= partial "partials/format-contents/transfers.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="feed_info">
          <p><%= partial "partials/format-contents/feed_info.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="translations">
          <p><%= partial "partials/format-contents/translations.html.md" %></p>
        </div>
        <div class="section specification scrollspy" id="change_log">
          <p><%= partial "partials/format-contents/change_log.html.md" %></p>
        </div>
      </div>
    </div>
  </div>
</main>
